.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Volumes ###
/volumes/mysql/*
!/volumes/mysql/.gitkeep

### OutputFiles for Test ###
/src/test/resources/outputFiles/*
!/src/test/resources/outputFiles/.gitkeep

### Mac ###
.DS_Store
.idea/vcs.xml
